/* INICIO MAIN */
.main{
    width: auto;
    height: auto;
    
    & .jumbotron{
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(245, 245, 245, 0.2), whitesmoke), url("../Images/3dprinting.jpg");
        background-size: cover;
        background-position: center;
        margin: 0;
        margin-top: 10vh;
        border-radius: 0;
        color: whitesmoke;
        & h1{
            font-family: $fuentePrincipal;
            margin-bottom: 5%;
            text-shadow: 2px 2px 2px black;
            & i{
                animation: infinite 5s idea1;
            }
            @keyframes idea1{
                0%{
                    transform: scale(1);
                }
                50%{
                    transform: scale(1.3);
                    color: $colorSecundario;
                }
                100%{
                    transform: scale(1);
                }
            }
        }
        & p{
            font-family: $fuenteSecundaria;
            text-shadow: 2px 2px 2px black;
            font-style: oblique;
            transition: 500ms;
            margin-bottom: 5%;
            &:hover{
                transform: scale(1.5);
            }
        }
        & .btn{
            background-color: whitesmoke;
            color: black;
            transition: 800ms;
            &:hover{
                transform: scale(0.9);
                color: $colorSecundario;
            }
        }
    }
    @mixin fuenteh2($family, $size, $weight, $style){
        font-family: $family;
        font-size: $size;
        font-weight: $weight;
        font-style: $style;
    }
    & #portfolio{
        height: auto;
        & .p-left{
            width: auto;
            height: auto;
            & .titulo--h2{
                @include fuenteh2($fuentePrincipal, 4vmax, bold, oblique);
                transition: 500ms;
                color: $colorH2;
                padding: 15vh 0vw 2vh 0vw;
                &:hover{
                    transform: scale(1.2);
                }
            }
            & p{
                font-family: $fuenteSecundaria;
                color: $colorTerceario;
                font-weight: bold;
                font-size: 2vmax;
                & span{
                    font-family: $fuenteSecundaria;
                    color: whitesmoke;
                    font-weight: bold;
                    animation: span1 infinite 5s;
                }
                @keyframes span1{
                    0%{
                        opacity: 1;
                        color: $colorPrincipal;
                    }
                    50%{
                        opacity: 1;
                        color: $colorSecundario;
                    }
                    100%{
                        opacity: 1;
                        color: $colorPrincipal;
                    }
                }
            }
            & .btn{
                background-color: black;
                color: whitesmoke;
                border: solid 1px whitesmoke;
                transition: 800ms;
                &:hover{
                    transform: scale(0.9);
                    background-color: $colorPrincipal;
                    border: solid 1px whitesmoke;
                    color: whitesmoke;
                }
            }
        }
        & .p-right{
            width: auto;
            height: auto;
            & .carousel-item:hover{
                transform: scale(0.9);
            }
        }
    }
    & #servicios{
        height: auto;
        & .s-left{
            @extend .p-left;
            & .titulo2--h2{
                @include fuenteh2($fuentePrincipal, 4vmax, bold, oblique);
                color: $colorH2;
                transition: 500ms;
                padding: 10vh 0vw 4vh 0vw;
                &:hover{
                    transform: scale(1.2);
                }
            }
            & .btn{
                background-color: black;
                color: whitesmoke;
                border: solid 1px whitesmoke;
                transition: 800ms;
                &:hover{
                    transform: scale(0.9);
                    background-color: $colorPrincipal;
                    border: solid 1px whitesmoke;
                }
            }
        }
        & .s-right{
            width: auto;
            height: auto;
            & #carousel2{
                margin-top: 10vh;
                & h5{
                    text-shadow: 0 0 2px black;
                    font-family: $fuentePrincipal;
                    font-size: 2vmax;
                }
            }
        }
    }

$medidash3: (
    "medida1": 1.5vmax,
    "medida2": 2.1vmax,
    "medida3": 1.7vmax,
    "medida4": 2.3vmax,
    "medida5": 1.9vmax,
);
@each $medida, $size in $medidash3{
    .titulo--#{$medida} {
        color: $colorTerceario;
        font-family: $fuenteSecundaria;
        font-size: $size;
        margin: 0vh 1vw 5vh 1vw;
    }
}

    & #empresa{
        width: auto;
        height: auto;
        & .e-left{
            @extend .p-left;
            & .titulo3--h2{
                @include fuenteh2($fuentePrincipal, 4vmax, bold, oblique);
                color: $colorH2;
                transition: 500ms;
                padding: 10vh 0vw 4vh 0vw;
                &:hover{
                    transform: scale(1.2);
                }
                & span{
                    color: $colorSecundario;
                    text-decoration: none;
                    font-size: 4vmax;
                    transition: 500ms;
                }
            }
            & p{
                font-family: $fuenteSecundaria;
                color: $colorTerceario;
                font-size: 2vmax;
                margin: 0vh 5vw 8vh 5vw;
                & span{
                    color: black;
                    font-weight: bold;
                }
            }
            & .btn{
                background-color: black;
                color: whitesmoke;
                border: solid 1px whitesmoke;
                transition: 800ms;
                &:hover{
                    transform: scale(0.9);
                    background-color: $colorPrincipal;
                    border: solid 1px whitesmoke;
                }
            }
        }
        & .e-right{
            & #carousel3{
                margin-top: 10vh;
                & .carousel-item:hover{
                    transform: scale(1.2);
                }
            }
        }
    }

    & .hr{
        background-color: whitesmoke;
    }
}
/* FIN MAIN */